/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #fdfbf7;
}


.main-container {
  height: 100%; 
  width: 100%;
}


.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}


.resize-handle {
  background-color: #ccc;
  width: 4px;
  cursor: col-resize;
  transition: background-color 0.2s;
}
.resize-handle:hover {
  background-color: teal;
}